<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="applicable-device" content="pc, mobile">
    <meta name="referrer" content="always">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forum Grandmaster</title>
    <link rel="canonical" href="https://hishis.github.io/tools/forum-grandmaster/">
    <link rel="dns-prefetch" href="//api.github.com">
    <link rel="dns-prefetch" href="//hunhun.appspot.com">
    <link rel="shortcut icon" href="https://cdn.quasar.dev/app-icons/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.0.0/animate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quasar@1.12.12/dist/quasar.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.25.3/min/moment-with-locales.min.js" async></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@1.12.12/dist/quasar.umd.min.js"></script>
    <script src="/js/common.js"></script>
    <div id="app" class="animate__animated animate__zoomIn">
        <div class="window-height">
            <q-layout view="lHh lpr lFf" container>
                <q-header elevated>
                    <q-bar>
                        <q-icon name="laptop_chromebook"></q-icon>
                        <div>Forum Grandmaster for Discuz!</div>

                        <q-space></q-space>

                        <q-btn dense flat icon="minimize"></q-btn>
                        <q-btn dense flat icon="crop_square" @click="handleScreen"></q-btn>
                        <q-btn dense flat icon="close" @click="handleClose" class="close"></q-btn>
                    </q-bar>

                    <div class="q-pa-sm q-pl-md row items-center">
                        <div class="cursor-pointer non-selectable">
                            File
                            <q-menu>
                                <q-list dense style="min-width: 100px">
                                    <q-item clickable v-close-popup>
                                        <q-item-section>Open...</q-item-section>
                                    </q-item>
                                    <q-item clickable v-close-popup>
                                        <q-item-section>New</q-item-section>
                                    </q-item>

                                    <q-separator></q-separator>

                                    <q-item clickable>
                                        <q-item-section>Preferences</q-item-section>
                                        <q-item-section side>
                                            <q-icon name="keyboard_arrow_right"></q-icon>
                                        </q-item-section>

                                        <q-menu anchor="top right" self="top left">
                                            <q-list>
                                                <q-item v-for="n in 3" :key="n" dense clickable>
                                                    <q-item-section>Submenu Label</q-item-section>
                                                    <q-item-section side>
                                                        <q-icon name="keyboard_arrow_right"></q-icon>
                                                    </q-item-section>
                                                    <q-menu auto-close anchor="top right" self="top left">
                                                        <q-list>
                                                            <q-item v-for="n in 3" :key="n" dense clickable>
                                                                <q-item-section>3rd level Label</q-item-section>
                                                            </q-item>
                                                        </q-list>
                                                    </q-menu>
                                                </q-item>
                                            </q-list>
                                        </q-menu>
                                    </q-item>

                                    <q-separator></q-separator>

                                    <q-item clickable v-close-popup>
                                        <q-item-section @click="handleClose">Quit</q-item-section>
                                    </q-item>
                                </q-list>
                            </q-menu>
                        </div>

                        <div class="q-ml-md cursor-pointer non-selectable">
                            Edit
                            <q-menu auto-close>
                                <q-list dense style="min-width: 100px">
                                    <q-item clickable>
                                        <q-item-section>Cut</q-item-section>
                                    </q-item>
                                    <q-item clickable>
                                        <q-item-section>Copy</q-item-section>
                                    </q-item>
                                    <q-item clickable>
                                        <q-item-section>Paste</q-item-section>
                                    </q-item>
                                    <q-separator></q-separator>
                                    <q-item clickable>
                                        <q-item-section>Select All</q-item-section>
                                    </q-item>
                                </q-list>
                            </q-menu>
                        </div>
                    </div>
                </q-header>

                <q-page-container>
                    <q-page class="q-pa-md">
                        <q-list bordered separator>
                            <q-item clickable v-ripple>
                                <q-item-section @click="handleOpen('Extensions Home');">
                                    <q-item-label>扩展名字：<span v-text="FG.extensions.name" class="text-primary"></span></q-item-label>
                                    <q-item-label>扩展版本：<span v-text="FG.extensions.version" class="text-positive"></span></q-item-label>
                                </q-item-section>
                            </q-item>

                            <q-item clickable v-ripple>
                                <q-item-section @click="handleOpen('Script Home');">
                                    <q-item-label>脚本名字：<span v-text="FG.script.name" class="text-primary"></span></q-item-label>
                                    <q-item-label>脚本版本：<span v-text="FG.script.version" class="text-positive"></span></q-item-label>
                                </q-item-section>
                            </q-item>

                            <q-item v-show="false">
                                <q-item-section>
                                    <q-item-label>用户代理：<span v-text="FG.data.ua" class="text-grey"></span></q-item-label>
                                    <q-item-label>默认语言：<span v-text="FG.data.lang" class="text-grey"></span></q-item-label>
                                    <q-item-label>网络自由：<span v-text="FG.data.freedom_of_network" class="text-grey"></span></q-item-label>
                                    <q-item-label>来路域名：<span v-text="FG.data.from" class="text-grey"></span></q-item-label>
                                </q-item-section>
                            </q-item>
                        </q-list>

                        <div class="q-pt-sm"></div>

                        <div class="q-px-sm q-pt-sm">场景模式</div>
                        <div class="q-gutter-sm">
                            <q-radio label="标准模式" v-model="oo.SCENE_MODE" val="Standard"></q-radio>
                            <q-radio label="家庭模式" v-model="oo.SCENE_MODE" val="Home"></q-radio>
                            <q-radio label="办公模式" v-model="oo.SCENE_MODE" val="Office"></q-radio>
                        </div>

                        <div class="q-px-sm q-pt-sm">用户状态</div>
                        <div class="q-gutter-sm">
                            <q-radio label="默认没有" v-model="oo.DISPLAY_USERS_ONLINE_STATUS" val="None"></q-radio>
                            <q-radio label="基本状态" v-model="oo.DISPLAY_USERS_ONLINE_STATUS" val="Basic"></q-radio>
                            <q-radio label="高级状态" v-model="oo.DISPLAY_USERS_ONLINE_STATUS" val="Advanced"></q-radio>
                        </div>

                        <div class="q-px-sm q-pt-sm">论坛徽章</div>
                        <div class="q-gutter-sm">
                            <q-checkbox label="大师徽章" v-model="oo.DISPLAY_BADGE"></q-checkbox>
                            <p class="q-px-sm q-mt-none text-grey">开启论坛大师并勾选徽章选项才会显示相应<span class="text-primary">徽章</span>。</p>
                        </div>

                        <div class="q-pt-sm"></div>

                        <div class="q-px-sm q-pt-sm">
                            <q-btn label="恢复默认" id="default-settings" color="negative" icon="restore" @click="handleSettingsDefault"></q-btn>
                            <q-btn label="保存设置" id="save-settings" color="primary" icon="save" @mouseenter="handleSettingsConvert" @click="handleSettingsSave"></q-btn>
                        </div>

                        <div class="q-pt-sm"></div>

                        <q-list bordered separator>
                            <q-item clickable v-ripple>
                                <q-item-section @click="handleOpen('https://port.ping.pe/18.162.113.137:4444');">
                                    <q-item-label>论坛大师公益节点：<span class="text-primary">论坛大师（香港01 · ss + v2ray）</span><q-badge>Shadowsocks</q-badge>&nbsp;<q-badge>v2ray-plugin</q-badge></q-item-label>
                                    <q-item-label>服务器地址：<span class="text-secondary">18.162.113.137</span></q-item-label>
                                    <q-item-label>服务器端口：<span class="text-secondary">4444</span></q-item-label>
                                    <q-item-label>密码：<span class="text-secondary">Master</span></q-item-label>
                                    <q-item-label>加密：<span class="text-secondary">aes-128-gcm</span></q-item-label>
                                    <q-item-label>插件程序：<span class="text-red">v2ray-plugin</span></q-item-label>
                                    <q-item-label>插件选项：<span class="text-red">host=h5api.m.taobao.com;path=/data.json</span></q-item-label>
                                </q-item-section>
                            </q-item>

                            <q-item clickable v-ripple>
                                <q-item-section @click="handleOpen('https://port.ping.pe/18.162.113.137:12345');">
                                    <q-item-label>论坛大师公益节点：<span class="text-primary">论坛大师（香港02 · ss）</span><q-badge>Shadowsocks</q-badge></q-item-label>
                                    <q-item-label>服务器地址：<span class="text-secondary">18.162.113.137</span></q-item-label>
                                    <q-item-label>服务器端口：<span class="text-secondary">12345</span></q-item-label>
                                    <q-item-label>密码：<span class="text-secondary">Master</span></q-item-label>
                                    <q-item-label>加密：<span class="text-secondary">aes-256-gcm</span></q-item-label>
                                </q-item-section>
                            </q-item>

                            <q-item clickable v-ripple>
                                <q-item-section @click="handleOpen('https://port.ping.pe/18.162.113.137:54321');">
                                    <q-item-label>论坛大师公益节点：<span class="text-primary">论坛大师（香港03 · ss）</span><q-badge>Shadowsocks</q-badge></q-item-label>
                                    <q-item-label>服务器地址：<span class="text-secondary">18.162.113.137</span></q-item-label>
                                    <q-item-label>服务器端口：<span class="text-secondary">54321</span></q-item-label>
                                    <q-item-label>密码：<span class="text-secondary">Master</span></q-item-label>
                                    <q-item-label>加密：<span class="text-secondary">xchacha20-ietf-poly1305</span></q-item-label>
                                </q-item-section>
                            </q-item>
                        </q-list>

                        <q-page-scroller position="bottom-right" :scroll-offset="120" :offset="[16, 16]">
                            <q-btn fab icon="keyboard_arrow_up" color="primary"></q-btn>
                        </q-page-scroller>
                    </q-page>
                </q-page-container>
            </q-layout>
        </div>

        <q-dialog v-model="bar" persistent>
            <q-card>
                <q-bar>
                    <q-icon name="notification_important"></q-icon>
                    <div v-text="notification.title"></div>
                    <q-space></q-space>
                    <q-btn dense flat icon="close" v-close-popup>
                        <q-tooltip>Close</q-tooltip>
                    </q-btn>
                </q-bar>
                <q-card-section v-html="notification.content"></q-card-section>
            </q-card>
        </q-dialog>
    </div>
    <script src="js/footer.js"></script>
</body>

</html>
